In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Nbdav\Instacart Basket Analysis'

In [3]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 data', 'Prepared data', 'orders_products_merged.pkl'))

In [5]:
#create subset
df = ords_prods_merged[:1000000]

In [6]:
df.shape

(1000000, 18)

In [7]:
df

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest day,Busiest Hours
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average_orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2836489,164627,14,0,15,6.0,False,30489,2,0,Original Hummus,67,20,7.5,both,Mid-range product,Busiest_days,Most_orders
999996,1843600,164632,5,1,19,9.0,False,30489,2,0,Original Hummus,67,20,7.5,both,Mid-range product,Busiest_days,Most_orders
999997,733106,164632,9,2,22,10.0,False,30489,3,1,Original Hummus,67,20,7.5,both,Mid-range product,Regularly busy,Most_orders
999998,1650124,164632,17,6,17,13.0,False,30489,1,1,Original Hummus,67,20,7.5,both,Mid-range product,Regularly busy,Most_orders
999999,3378258,164632,22,6,10,15.0,False,30489,3,1,Original Hummus,67,20,7.5,both,Mid-range product,Regularly busy,Average_orders

In [8]:
df.groupby('product_name')

In [9]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [10]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [11]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [4]:
#using transform to create a new variable of max orders by users

ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

# Output

In [5]:
ords_prods_merged.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest day,Busiest Hours,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average_orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Average_orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest_days,Average_orders,22
15,2293453,19,2,5,14,6.0,False,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,9
16,1973799,19,5,6,12,8.0,False,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,9
17,532817,19,7,4,17,6.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,9
18,1573906,21,10,3,10,6.0,False,196,2,0,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Average_orders,33
19,1593000,31,10,3,8,7.0,False,196,17,0,Soda,77,7,9.0,both,Mid-range product,Slowest_days,Average_orders,20

In [15]:
pd.options.display.max_rows = None

In [6]:
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [7]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [8]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [25]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [9]:
ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

# Task 4.8

In [ ]:
#question 2: apply the aggregate mean of order number for the entire data frame

In [28]:
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

We can see that the higest ordered departments changed. now 21 and 18 are the highest

In [10]:
#using transform to create a new variable of prices paid by users

ords_prods_merged['avg_spending'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [13]:
ords_prods_merged.head(60)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,Busiest day,Busiest Hours,max_order,loyalty_flag,avg_spending
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,False,196,4,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Average_orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,False,196,2,0,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,False,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Average_orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,False,196,3,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,False,196,15,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,False,196,2,0,...,77,7,9.0,both,Mid-range product,Slowest_days,Average_orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,False,196,17,0,...,77,7,9.0,both,Mid-range product,Slowest_days,Average_orders,20,Regular customer,8.137793
20,2231262,31,17,3,11,8.0,False,196,14,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,20,Regular customer,8.137793
21,2580647,43,6,4,16,4.0,False,196,9,0,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,11,Regular customer,7.444898
22,2187180,43,9,4,12,3.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,11,Regular customer,7.444898
23,2497897,52,1,1,9,NaN,True,196,4,0,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,27,Regular customer,6.356287
24,1318871,52,2,1,10,7.0,False,196,5,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Average_orders,27,Regular customer,6.356287
25,1261384,52,3,1,10,7.0,False,196,3,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Average_orders,27,Regular customer,6.356287
26,580568,52,5,2,10,8.0,False,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Average_orders,27,Regular customer,6.356287
27,2428073,52,7,2,7,8.0,False,196,5,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,27,Regular customer,6.356287
28,342306,52,9,1,11,7.0,False,196,5,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,27,Regular customer,6.356287
29,1520353,52,10,2,10,8.0,False,196,4,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Average_orders,27,Regular customer,6.356287
30,2542086,52,11,2,9,7.0,False,196,3,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,27,Regular customer,6.356287
31,944694,52,12,1,16,6.0,False,196,7,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,27,Regular customer,6.356287
32,1268191,52,15,2,11,8.0,False,196,3,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,27,Regular customer,6.356287
33,1122089,52,17,2,10,6.0,False,196,4,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Average_orders,27,Regular customer,6.356287
34,1498922,52,18,2,10,14.0,False,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Average_orders,27,Regular customer,6.356287
35,180919,52,19,3,8,8.0,False,196,4,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Average_orders,27,Regular customer,6.356287
36,2695875,52,21,5,10,30.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Average_orders,27,Regular customer,6.356287
37,3205960,67,1,3,11,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,24,Regular customer,7.656790
38,970922,67,2,1,15,5.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790
39,596585,67,3,1,13,7.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790
40,2037087,67,4,2,9,8.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,24,Regular customer,7.656790
41,2474111,67,5,3,14,8.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,24,Regular customer,7.656790
42,1568481,67,6,3,12,7.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,24,Regular customer,7.656790
43,2048527,67,8,2,11,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,24,Regular customer,7.656790
44,2389031,67,9,2,14,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,24,Regular customer,7.656790
45,2378562,67,10,1,10,6.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Average_orders,24,Regular customer,7.656790
46,1515698,67,11,1,11,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790
47,1928050,67,12,2,12,8.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,24,Regular customer,7.656790
48,1949274,67,13,1,10,6.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Average_orders,24,Regular customer,7.656790
49,551869,67,14,1,9,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790
50,768572,67,16,4,10,9.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest_days,Average_orders,24,Regular customer,7.656790
51,150528,67,18,5,16,4.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,24,Regular customer,7.656790
52,29758,67,19,0,14,9.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790
53,1558976,67,21,1,9,5.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790
54,863974,67,22,1,11,14.0,False,196,3,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790
55,2308399,67,23,1,14,14.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790
56,2759128,81,3,1,9,14.0,False,196,2,0,...,77,7,9.0,both,Mid-range product,Busiest_days,Most_orders,7,New customer,8.165385
57,1812985,81,5,2,20,30.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most_orders,7,New customer,8.165385
58,1889835,82,1,3,15,NaN,True,196,6,0,...,77,7,9.0,both,Mid-range product,Slowest_days,Most_orders,19,Regular customer,6.441221
59,499460,82,3,5,10,5.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Average_orders,19,Regular customer,6.441221

In [30]:
ords_prods_merged.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [ ]:
# we can see from the entire data set that dept ID 21 and 18 are the highest

# question 5 create column to give info on customer loyalty based on prices

In [16]:
ords_prods_merged[['user_id', 'loyalty_flag', 'prices']].head(200)

     user_id      loyalty_flag  prices
0          1      New customer     9.0
1          1      New customer     9.0
2          1      New customer     9.0
3          1      New customer     9.0
4          1      New customer     9.0
5          1      New customer     9.0
6          1      New customer     9.0
7          1      New customer     9.0
8          1      New customer     9.0
9          1      New customer     9.0
10        15  Regular customer     9.0
11        15  Regular customer     9.0
12        15  Regular customer     9.0
13        15  Regular customer     9.0
14        15  Regular customer     9.0
15        19      New customer     9.0
16        19      New customer     9.0
17        19      New customer     9.0
18        21  Regular customer     9.0
19        31  Regular customer     9.0
20        31  Regular customer     9.0
21        43  Regular customer     9.0
22        43  Regular customer     9.0
23        52  Regular customer     9.0
24        52  Regular customer     9.0
25        52  Regular customer     9.0
26        52  Regular customer     9.0
27        52  Regular customer     9.0
28        52  Regular customer     9.0
29        52  Regular customer     9.0
30        52  Regular customer     9.0
31        52  Regular customer     9.0
32        52  Regular customer     9.0
33        52  Regular customer     9.0
34        52  Regular customer     9.0
35        52  Regular customer     9.0
36        52  Regular customer     9.0
37        67  Regular customer     9.0
38        67  Regular customer     9.0
39        67  Regular customer     9.0
40        67  Regular customer     9.0
41        67  Regular customer     9.0
42        67  Regular customer     9.0
43        67  Regular customer     9.0
44        67  Regular customer     9.0
45        67  Regular customer     9.0
46        67  Regular customer     9.0
47        67  Regular customer     9.0
48        67  Regular customer     9.0
49        67  Regular customer     9.0
50        67  Regular customer     9.0
51        67  Regular customer     9.0
52        67  Regular customer     9.0
53        67  Regular customer     9.0
54        67  Regular customer     9.0
55        67  Regular customer     9.0
56        81      New customer     9.0
57        81      New customer     9.0
58        82  Regular customer     9.0
59        82  Regular customer     9.0
60        82  Regular customer     9.0
61        82  Regular customer     9.0
62        82  Regular customer     9.0
63        82  Regular customer     9.0
64        82  Regular customer     9.0
65        82  Regular customer     9.0
66        82  Regular customer     9.0
67        98  Regular customer     9.0
68        98  Regular customer     9.0
69        98  Regular customer     9.0
70        98  Regular customer     9.0
71        98  Regular customer     9.0
72        98  Regular customer     9.0
73        98  Regular customer     9.0
74       109      New customer     9.0
75       120      New customer     9.0
76       120      New customer     9.0
77       185      New customer     9.0
78       195    Loyal customer     9.0
79       195    Loyal customer     9.0
80       195    Loyal customer     9.0
81       195    Loyal customer     9.0
82       195    Loyal customer     9.0
83       195    Loyal customer     9.0
84       195    Loyal customer     9.0
85       195    Loyal customer     9.0
86       195    Loyal customer     9.0
87       195    Loyal customer     9.0
88       195    Loyal customer     9.0
89       195    Loyal customer     9.0
90       222    Loyal customer     9.0
91       222    Loyal customer     9.0
92       290    Loyal customer     9.0
93       290    Loyal customer     9.0
94       331      New customer     9.0
95       360      New customer     9.0
96       377      New customer     9.0
97       387      New customer     9.0
98       420  Regular customer     9.0
99       420  Regular customer     9.0
100      423    Loyal customer     9.0
101      423    Loyal customer     9.0
102      546      New customer     9.0
103      591      New customer     9.0
104      626    Loyal customer     9.0
105      626    Loyal customer     9.0
106      626    Loyal customer     9.0
107      626    Loyal customer     9.0
108      626    Loyal customer     9.0
109      626    Loyal customer     9.0
110      626    Loyal customer     9.0
111      626    Loyal customer     9.0
112      626    Loyal customer     9.0
113      626    Loyal customer     9.0
114      642      New customer     9.0
115      676  Regular customer     9.0
116      676  Regular customer     9.0
117      676  Regular customer     9.0
118      676  Regular customer     9.0
119      676  Regular customer     9.0
120      676  Regular customer     9.0
121      676  Regular customer     9.0
122      680      New customer     9.0
123      691  Regular customer     9.0
124      691  Regular customer     9.0
125      691  Regular customer     9.0
126      709      New customer     9.0
127      709      New customer     9.0
128      716      New customer     9.0
129      730  Regular customer     9.0
130      760      New customer     9.0
131      778    Loyal customer     9.0
132      793      New customer     9.0
133      793      New customer     9.0
134      793      New customer     9.0
135      793      New customer     9.0
136      793      New customer     9.0
137      858  Regular customer     9.0
138      926      New customer     9.0
139      951      New customer     9.0
140      991      New customer     9.0
141      992  Regular customer     9.0
142      992  Regular customer     9.0
143      992  Regular customer     9.0
144      992  Regular customer     9.0
145      992  Regular customer     9.0
146      992  Regular customer     9.0
147      992  Regular customer     9.0
148      992  Regular customer     9.0
149     1024    Loyal customer     9.0
150     1024    Loyal customer     9.0
151     1031      New customer     9.0
152     1031      New customer     9.0
153     1031      New customer     9.0
154     1031      New customer     9.0
155     1126      New customer     9.0
156     1126      New customer     9.0
157     1126      New customer     9.0
158     1126      New customer     9.0
159     1126      New customer     9.0
160     1126      New customer     9.0
161     1126      New customer     9.0
162     1126      New customer     9.0
163     1126      New customer     9.0
164     1131      New customer     9.0
165     1137  Regular customer     9.0
166     1137  Regular customer     9.0
167     1137  Regular customer     9.0
168     1137  Regular customer     9.0
169     1140  Regular customer     9.0
170     1219  Regular customer     9.0
171     1219  Regular customer     9.0
172     1219  Regular customer     9.0
173     1219  Regular customer     9.0
174     1256      New customer     9.0
175     1269      New customer     9.0
176     1306      New customer     9.0
177     1306      New customer     9.0
178     1306      New customer     9.0
179     1306      New customer     9.0
180     1344  Regular customer     9.0
181     1379      New customer     9.0
182     1408  Regular customer     9.0
183     1408  Regular customer     9.0
184     1408  Regular customer     9.0
185     1408  Regular customer     9.0
186     1408  Regular customer     9.0
187     1408  Regular customer     9.0
188     1408  Regular customer     9.0
189     1408  Regular customer     9.0
190     1408  Regular customer     9.0
191     1408  Regular customer     9.0
192     1408  Regular customer     9.0
193     1408  Regular customer     9.0
194     1408  Regular customer     9.0
195     1408  Regular customer     9.0
196     1408  Regular customer     9.0
197     1434      New customer     9.0
198     1438    Loyal customer     9.0
199     1438    Loyal customer     9.0

In [32]:
#statistics of prices based on loyalty it is intersting that newer customers spend more on average
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

Create loc function to seperate low spenders and high spenders based on prices and loyalty flg

In [17]:
ords_prods_merged.loc[ords_prods_merged['avg_spending'] >= 10, 'spending_habits'] = 'high spender'

In [18]:
ords_prods_merged.loc[ords_prods_merged['avg_spending'] < 10, 'spending_habits'] = 'low spender'

In [20]:
ords_prods_merged.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,Busiest day,Busiest Hours,max_order,loyalty_flag,avg_spending,spending_habits
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,low spender
1,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender
2,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender
3,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender
4,431534,1,5,4,15,28.0,False,196,1,1,...,7,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender
5,3367565,1,6,2,7,19.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Most_orders,10,New customer,6.367797,low spender
6,550135,1,7,1,9,20.0,False,196,1,1,...,7,9.0,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797,low spender
7,3108588,1,8,1,14,14.0,False,196,2,1,...,7,9.0,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797,low spender
8,2295261,1,9,1,16,0.0,False,196,4,1,...,7,9.0,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797,low spender
9,2550362,1,10,4,8,30.0,False,196,1,1,...,7,9.0,both,Mid-range product,Slowest_days,Average_orders,10,New customer,6.367797,low spender

# create a column for frequent and non frequent customers

In [21]:
ords_prods_merged[['user_id', 'loyalty_flag', 'days_since_prior_order']].head(60)

    user_id      loyalty_flag  days_since_prior_order
0         1      New customer                     NaN
1         1      New customer                    15.0
2         1      New customer                    21.0
3         1      New customer                    29.0
4         1      New customer                    28.0
5         1      New customer                    19.0
6         1      New customer                    20.0
7         1      New customer                    14.0
8         1      New customer                     0.0
9         1      New customer                    30.0
10       15  Regular customer                     7.0
11       15  Regular customer                     8.0
12       15  Regular customer                     7.0
13       15  Regular customer                     7.0
14       15  Regular customer                    14.0
15       19      New customer                     6.0
16       19      New customer                     8.0
17       19      New customer                     6.0
18       21  Regular customer                     6.0
19       31  Regular customer                     7.0
20       31  Regular customer                     8.0
21       43  Regular customer                     4.0
22       43  Regular customer                     3.0
23       52  Regular customer                     NaN
24       52  Regular customer                     7.0
25       52  Regular customer                     7.0
26       52  Regular customer                     8.0
27       52  Regular customer                     8.0
28       52  Regular customer                     7.0
29       52  Regular customer                     8.0
30       52  Regular customer                     7.0
31       52  Regular customer                     6.0
32       52  Regular customer                     8.0
33       52  Regular customer                     6.0
34       52  Regular customer                    14.0
35       52  Regular customer                     8.0
36       52  Regular customer                    30.0
37       67  Regular customer                     NaN
38       67  Regular customer                     5.0
39       67  Regular customer                     7.0
40       67  Regular customer                     8.0
41       67  Regular customer                     8.0
42       67  Regular customer                     7.0
43       67  Regular customer                     7.0
44       67  Regular customer                     7.0
45       67  Regular customer                     6.0
46       67  Regular customer                     7.0
47       67  Regular customer                     8.0
48       67  Regular customer                     6.0
49       67  Regular customer                     7.0
50       67  Regular customer                     9.0
51       67  Regular customer                     4.0
52       67  Regular customer                     9.0
53       67  Regular customer                     5.0
54       67  Regular customer                    14.0
55       67  Regular customer                    14.0
56       81      New customer                    14.0
57       81      New customer                    30.0
58       82  Regular customer                     NaN
59       82  Regular customer                     5.0

In [22]:
ords_prods_merged.groupby('loyalty_flag').agg({'days_since_prior_order': ['mean', 'min', 'max', 'median']})

                 days_since_prior_order
                                   mean  min   max median
loyalty_flag
Loyal customer                 6.026656  0.0  30.0    5.0
New customer                  17.976936  0.0  30.0   17.0
Regular customer              12.155135  0.0  30.0    9.0

In [23]:
ords_prods_merged['buying_freq'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [25]:
ords_prods_merged.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,Busiest day,Busiest Hours,max_order,loyalty_flag,avg_spending,spending_habits,buying_freq
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,low spender,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender,20.5
5,3367565,1,6,2,7,19.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Most_orders,10,New customer,6.367797,low spender,20.5
6,550135,1,7,1,9,20.0,False,196,1,1,...,9.0,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797,low spender,20.5
7,3108588,1,8,1,14,14.0,False,196,2,1,...,9.0,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797,low spender,20.5
8,2295261,1,9,1,16,0.0,False,196,4,1,...,9.0,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797,low spender,20.5
9,2550362,1,10,4,8,30.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest_days,Average_orders,10,New customer,6.367797,low spender,20.5
10,2968173,15,15,1,9,7.0,False,196,2,0,...,9.0,both,Mid-range product,Busiest_days,Most_orders,22,Regular customer,3.980556,low spender,10.0
11,1870022,15,17,2,16,8.0,False,196,6,1,...,9.0,both,Mid-range product,Regularly busy,Most_orders,22,Regular customer,3.980556,low spender,10.0
12,1911383,15,18,2,11,7.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Most_orders,22,Regular customer,3.980556,low spender,10.0
13,2715276,15,21,1,9,7.0,False,196,1,1,...,9.0,both,Mid-range product,Busiest_days,Most_orders,22,Regular customer,3.980556,low spender,10.0
14,487368,15,22,1,10,14.0,False,196,1,1,...,9.0,both,Mid-range product,Busiest_days,Average_orders,22,Regular customer,3.980556,low spender,10.0
15,2293453,19,2,5,14,6.0,False,196,3,0,...,9.0,both,Mid-range product,Regularly busy,Most_orders,9,New customer,8.372059,low spender,6.0
16,1973799,19,5,6,12,8.0,False,196,15,1,...,9.0,both,Mid-range product,Regularly busy,Most_orders,9,New customer,8.372059,low spender,6.0
17,532817,19,7,4,17,6.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest_days,Most_orders,9,New customer,8.372059,low spender,6.0
18,1573906,21,10,3,10,6.0,False,196,2,0,...,9.0,both,Mid-range product,Slowest_days,Average_orders,33,Regular customer,7.012683,low spender,7.5
19,1593000,31,10,3,8,7.0,False,196,17,0,...,9.0,both,Mid-range product,Slowest_days,Average_orders,20,Regular customer,8.137793,low spender,6.0

In [26]:
ords_prods_merged.loc[ords_prods_merged['buying_freq'] > 20, 'customer_freq'] = 'Non-frequent customer'

In [32]:
ords_prods_merged.loc[(ords_prods_merged['buying_freq'] > 10) & (ords_prods_merged['buying_freq'] <= 20), 'customer_freq'] = 'regular customer'

In [30]:
ords_prods_merged.loc[ords_prods_merged['buying_freq'] <= 10, 'customer_freq'] = 'frequent customer'

In [33]:
ords_prods_merged.head(60)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,Busiest day,Busiest Hours,max_order,loyalty_flag,avg_spending,spending_habits,buying_freq,customer_freq
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Average_orders,10,New customer,6.367797,low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,both,Mid-range product,Slowest_days,Most_orders,10,New customer,6.367797,low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Most_orders,10,New customer,6.367797,low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,False,196,1,1,...,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797,low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,False,196,2,1,...,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797,low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,False,196,4,1,...,both,Mid-range product,Busiest_days,Most_orders,10,New customer,6.367797,low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,False,196,1,1,...,both,Mid-range product,Slowest_days,Average_orders,10,New customer,6.367797,low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,False,196,2,0,...,both,Mid-range product,Busiest_days,Most_orders,22,Regular customer,3.980556,low spender,10.0,frequent customer
11,1870022,15,17,2,16,8.0,False,196,6,1,...,both,Mid-range product,Regularly busy,Most_orders,22,Regular customer,3.980556,low spender,10.0,frequent customer
12,1911383,15,18,2,11,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Most_orders,22,Regular customer,3.980556,low spender,10.0,frequent customer
13,2715276,15,21,1,9,7.0,False,196,1,1,...,both,Mid-range product,Busiest_days,Most_orders,22,Regular customer,3.980556,low spender,10.0,frequent customer
14,487368,15,22,1,10,14.0,False,196,1,1,...,both,Mid-range product,Busiest_days,Average_orders,22,Regular customer,3.980556,low spender,10.0,frequent customer
15,2293453,19,2,5,14,6.0,False,196,3,0,...,both,Mid-range product,Regularly busy,Most_orders,9,New customer,8.372059,low spender,6.0,frequent customer
16,1973799,19,5,6,12,8.0,False,196,15,1,...,both,Mid-range product,Regularly busy,Most_orders,9,New customer,8.372059,low spender,6.0,frequent customer
17,532817,19,7,4,17,6.0,False,196,1,1,...,both,Mid-range product,Slowest_days,Most_orders,9,New customer,8.372059,low spender,6.0,frequent customer
18,1573906,21,10,3,10,6.0,False,196,2,0,...,both,Mid-range product,Slowest_days,Average_orders,33,Regular customer,7.012683,low spender,7.5,frequent customer
19,1593000,31,10,3,8,7.0,False,196,17,0,...,both,Mid-range product,Slowest_days,Average_orders,20,Regular customer,8.137793,low spender,6.0,frequent customer
20,2231262,31,17,3,11,8.0,False,196,14,1,...,both,Mid-range product,Slowest_days,Most_orders,20,Regular customer,8.137793,low spender,6.0,frequent customer
21,2580647,43,6,4,16,4.0,False,196,9,0,...,both,Mid-range product,Slowest_days,Most_orders,11,Regular customer,7.444898,low spender,10.0,frequent customer
22,2187180,43,9,4,12,3.0,False,196,1,1,...,both,Mid-range product,Slowest_days,Most_orders,11,Regular customer,7.444898,low spender,10.0,frequent customer
23,2497897,52,1,1,9,NaN,True,196,4,0,...,both,Mid-range product,Busiest_days,Most_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
24,1318871,52,2,1,10,7.0,False,196,5,1,...,both,Mid-range product,Busiest_days,Average_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
25,1261384,52,3,1,10,7.0,False,196,3,1,...,both,Mid-range product,Busiest_days,Average_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
26,580568,52,5,2,10,8.0,False,196,6,1,...,both,Mid-range product,Regularly busy,Average_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
27,2428073,52,7,2,7,8.0,False,196,5,1,...,both,Mid-range product,Regularly busy,Most_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
28,342306,52,9,1,11,7.0,False,196,5,1,...,both,Mid-range product,Busiest_days,Most_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
29,1520353,52,10,2,10,8.0,False,196,4,1,...,both,Mid-range product,Regularly busy,Average_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
30,2542086,52,11,2,9,7.0,False,196,3,1,...,both,Mid-range product,Regularly busy,Most_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
31,944694,52,12,1,16,6.0,False,196,7,1,...,both,Mid-range product,Busiest_days,Most_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
32,1268191,52,15,2,11,8.0,False,196,3,1,...,both,Mid-range product,Regularly busy,Most_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
33,1122089,52,17,2,10,6.0,False,196,4,1,...,both,Mid-range product,Regularly busy,Average_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
34,1498922,52,18,2,10,14.0,False,196,6,1,...,both,Mid-range product,Regularly busy,Average_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
35,180919,52,19,3,8,8.0,False,196,4,1,...,both,Mid-range product,Slowest_days,Average_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
36,2695875,52,21,5,10,30.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Average_orders,27,Regular customer,6.356287,low spender,8.0,frequent customer
37,3205960,67,1,3,11,NaN,True,196,1,0,...,both,Mid-range product,Slowest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
38,970922,67,2,1,15,5.0,False,196,2,1,...,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
39,596585,67,3,1,13,7.0,False,196,2,1,...,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
40,2037087,67,4,2,9,8.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
41,2474111,67,5,3,14,8.0,False,196,2,1,...,both,Mid-range product,Slowest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
42,1568481,67,6,3,12,7.0,False,196,2,1,...,both,Mid-range product,Slowest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
43,2048527,67,8,2,11,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
44,2389031,67,9,2,14,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
45,2378562,67,10,1,10,6.0,False,196,1,1,...,both,Mid-range product,Busiest_days,Average_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
46,1515698,67,11,1,11,7.0,False,196,1,1,...,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
47,1928050,67,12,2,12,8.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
48,1949274,67,13,1,10,6.0,False,196,1,1,...,both,Mid-range product,Busiest_days,Average_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
49,551869,67,14,1,9,7.0,False,196,1,1,...,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
50,768572,67,16,4,10,9.0,False,196,1,1,...,both,Mid-range product,Slowest_days,Average_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
51,150528,67,18,5,16,4.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
52,29758,67,19,0,14,9.0,False,196,2,1,...,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
53,1558976,67,21,1,9,5.0,False,196,2,1,...,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
54,863974,67,22,1,11,14.0,False,196,3,1,...,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
55,2308399,67,23,1,14,14.0,False,196,1,1,...,both,Mid-range product,Busiest_days,Most_orders,24,Regular customer,7.656790,low spender,7.0,frequent customer
56,2759128,81,3,1,9,14.0,False,196,2,0,...,both,Mid-range product,Busiest_days,Most_orders,7,New customer,8.165385,low spender,30.0,Non-frequent customer
57,1812985,81,5,2,20,30.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Most_orders,7,New customer,8.165385,low spender,30.0,Non-frequent customer
58,1889835,82,1,3,15,NaN,True,196,6,0,...,both,Mid-range product,Slowest_days,Most_orders,19,Regular customer,6.441221,low spender,11.5,regular customer
59,499460,82,3,5,10,5.0,False,196,2,1,...,both,Mid-range product,Regularly busy,Average_orders,19,Regular customer,6.441221,low spender,11.5,regular customer

In [34]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared data', 'orders_products_stats.pkl'))